---
import BaseLayout from "../layouts/BaseLayout.astro";
import Gallery from "../components/Gallery.astro";

const galleryImages = [
  "https://64.media.tumblr.com/1969f1923eef07e4b665aa2514a0f911/567c37d23c29cb6c-c3/s500x750/ac3fdc828a98b029567635024bef0783cd941f7f.png",
  "https://64.media.tumblr.com/9bb5feb0eb9b875c5ffd37a436b4ab7a/567c37d23c29cb6c-af/s500x750/6ddc966e6f71e8cfcd8eaaa0983d8e4b0e24855f.jpg",
  "https://64.media.tumblr.com/83c9ee753bf406f4f2663583f85f9ede/567c37d23c29cb6c-40/s500x750/97cedcabea768e5aba33d8558cc559a29efe713a.jpg",
  "https://64.media.tumblr.com/0ae3ffd0081fd8d7ebe60ff8a0d3794d/567c37d23c29cb6c-4c/s500x750/e8b6995ce59219e89a23ea9241fa7db5d5236b08.jpg",
  "https://64.media.tumblr.com/d7ff5d99377afd1bb2f199e7c56f4429/567c37d23c29cb6c-7a/s500x750/c624918751137c253f30219c978f81d3215d177d.jpg",
  "https://64.media.tumblr.com/760f400607773107b99a5c947adb8de0/567c37d23c29cb6c-a1/s500x750/3a1e804e8b5a341955ed6d81e04193827cacb880.jpg",
  "https://64.media.tumblr.com/ce73ba0c58310f1426293f41d69d77a6/567c37d23c29cb6c-76/s500x750/a32a0f1435f95b22f2570b1f395250007daec8a9.jpg",
  "https://64.media.tumblr.com/8584fee992a5b57ee9120a34572bc1c6/567c37d23c29cb6c-6d/s500x750/4d9f57dcc3de86b4e79a4eefb739bdcb74d48484.jpg",
  "https://64.media.tumblr.com/7a37992e9daff951701c45843c1343ff/567c37d23c29cb6c-79/s500x750/6e437ec137fd9fee9753eff3876192fd67aa8f0d.jpg",
  "https://64.media.tumblr.com/f357c63befacba72e62f925164e05b4a/567c37d23c29cb6c-42/s500x750/241c3cd6e93705b831508c53cc8413373d0924df.jpg",
  "https://64.media.tumblr.com/c226f10ed9a7cb497945eece6a75a6d1/567c37d23c29cb6c-2e/s500x750/d99c6d7580cb6d5801eb455f7f3b4eb4f688b8c6.jpg"
];
---
<BaseLayout title="Gallery">
  <h1>Gallery</h1>
  <Gallery images={galleryImages} />
</BaseLayout>
