---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Gallery from "../components/Gallery.astro";
import HeroCarousel from '../components/HeroCarousel.astro';

import { galleryImages } from "../data/gallery.js"; // reuse the array

const essays = await getCollection("essays");
---
<BaseLayout title="Harsh Realitees Photography" class="w-full h-screen overflow-hidden relative">
  <HeroCarousel />

  <section class="max-w-4xl mx-auto px-6">
    <h2 class="text-xs uppercase tracking-[0.25em] mb-12 text-gray-400">
      Featured Photo Essays
    </h2>

    <div class="space-y-16">
      {essays.map((essay) => (
        <a href={`/essays/${essay.id}`} class="block group">
          <h2 class="text-2xl font-light mb-2 group-hover:opacity-70">
            {essay.data.title}
          </h2>
          <p class="text-gray-500 max-w-xl">
            {essay.data.description}
          </p>
        </a>
      ))}
    </div>
  </section>

</BaseLayout>
