---
import "../styles/global.css";
const { title = "My Photography" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-black text-white">
    <!-- HEADER -->
    <header class="fixed top-0 left-0 w-full z-50">
      <div class="px-8 py-6 flex justify-between items-center">
        <!-- Title -->
        <a
          href="/"
          class="font-title text-2xl tracking-wide hover:opacity-70"
        >
          Harsh Realitees Photography
        </a>

        <!-- Nav -->
        <nav class="font-body text-xs uppercase tracking-[0.25em] flex gap-8">
          <a href="/gallery" class="hover:opacity-60">Gallery</a>
          <a href="/essays" class="hover:opacity-60">Essays</a>
          <a href="/contact" class="hover:opacity-60">Contact</a>
        </nav>
      </div>
      <div class="bg-red-500">

    </header>

    <!-- MAIN -->
    <main class="pt-24"> <!-- padding top to offset fixed header -->
      <slot />
    </main>

    <!-- FOOTER -->
    <footer class="text-center py-8 text-gray-500 text-sm">
      © 2025 Harsh Deshpande. All rights reserved
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer></script>
  </body>
</html>